* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    
}
header ul{
    list-style-type: none;
}
header li{
    padding: 20px 15px;
} */

/* .task{
    width: 20%;
    background-color: rgb(94, 205, 63);
    display: inline-table;
    margin: 16px;
    text-align: center;
} */

/* Navbar */

.navbar {
  background-color: rgb(226, 187, 16);
}

/* Main */

.addTask form {
  position: static;

  margin-left: 3rem;
  margin-right: 3rem;
  justify-items: center;
}

.addTask form .form-range {
  width: 44%;
}

/* div.scrollmenu {
overflow: auto;
} */

.addTask form .two {
  /* padding: 0 6%; */
}

.addTask form .three {
  /* padding: 0 6%; */
}

main {
  background-color: rgb(167, 163, 163);
  min-height: calc(100vh - 112px);
}
small {
  color: red;
  
  
}

main button {
  background-color: rgb(66, 164, 130) !important;
}

.card {
  width: 20%;
  color: yellow;
}

.modal {
  color: rgb(32, 166, 187);
}

.status-label .two {
  display: inline-flex;
  /* justify-content: space-evenly; */
  /* justify-items: space-around; */
  /* padding: 0 26%; */
}

.modal-footer button .close {
  background-color: rgb(167, 163, 163) !important;
}

/* Footer */

footer {
  background-color: rgb(226, 187, 16);
  padding: 8px;
  height: 56px;
}

#uncopyright {
  display: flex;
  justify-content: center;
}
#uncopyright img {
  height: 40px;
  width: auto;
}
#uncopyright p {
  padding-bottom: 0 !important;
}

.form-label {
  
}